<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>maoamiga</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- filter>
		<filter-name>registerDaoFiltro</filter-name>
		<filter-class>filtros.RegisterDaoFiltro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>registerDaoFiltro</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping -->

	<!-- Dandelion servlet definition and mapping -->

	<!--
<filter>
		<filter-name>filtro_autenticacao</filter-name>
		<filter-class>filtros.AutenticacaoFiltro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtro_autenticacao</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	<filter>
		<filter-name>filtro_autenticacao_medico</filter-name>
		<filter-class>filtros.MedicoFiltro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtro_autenticacao_medico</filter-name>
		<url-pattern>/procurarMedicamento.jsp</url-pattern>
		<url-pattern>/consultarMedicamentoServlet</url-pattern>
		<url-pattern>/listaPacientes</url-pattern>
		<url-pattern>/listaEspera.jsp</url-pattern>
		<url-pattern>/procurarConsulta.jsp</url-pattern>
		<url-pattern>/procurarConsultaServlet</url-pattern>
		<url-pattern>/prontuarioMedico</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>filtro_autenticacao_secretario</filter-name>
		<filter-class>filtros.SecretarioFiltro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtro_autenticacao_secretario</filter-name>
		<url-pattern>/cadastraMedicamento.jsp</url-pattern>
		<url-pattern>/cadastraMedicamento</url-pattern>
		<url-pattern>/cadastraMedico.jsp</url-pattern>
		<url-pattern>/cadastraMedico</url-pattern>
		<url-pattern>/cadastraPaciente.jsp</url-pattern>
		<url-pattern>/cadastraPaciente</url-pattern>
		<url-pattern>/gerenciarUsuarios.jsp</url-pattern>
		<url-pattern>/listaConsultas.jsp</url-pattern>
		<url-pattern>/consultarUsuariosServlet</url-pattern>
		<url-pattern>/cadastraUsuario.jsp</url-pattern>
		<url-pattern>/cadastraUsuario</url-pattern>
		<url-pattern>/removeUsuarioServlet</url-pattern>
		<url-pattern>/agendarConsulta</url-pattern>
		<url-pattern>/procurarPaciente.jsp</url-pattern>
		<url-pattern>/agendarConsulta</url-pattern>
		<url-pattern>/procurarMedico.jsp</url-pattern>
	</filter-mapping>



	<servlet>
		<servlet-name>Autenticador_Servlet</servlet-name>
		<servlet-class>servlets.Autenticador</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Autenticador_Servlet</servlet-name>
		<url-pattern>/AutenticaLogin</url-pattern>
	</servlet-mapping>

</web-app>